<script context="module">
  import {
    loadFetcher,
    fetchPageData,
    ConfigError,
    FetchError
  } from "../fetchers"

  async function loadZonePageData(zone, pages) {
    // Resolve pageSlug reference
    const zonePageConfig = pages.find(page1 => page1.slug === zone.pageSlug)
    const { source } = zonePageConfig
    const properties = { pageConfig: zonePageConfig }
    if (source) {
      const fetcher = loadFetcher(source.type)
      const pageType = fetcher.getPageType(source)
      properties.pageType = pageType
      properties.pageData = await fetchPageData.bind(this)(
        pageType,
        fetcher,
        source,
        zone
      )
    }
    return properties
  }

  export async function preload(page, session) {
    const pageConfig = session.config.pages.find(page1 => !page1.slug)
    if (!pageConfig) {
      return this.error(404, "Page not found")
    }
    const properties = { pageConfig }
    if (pageConfig.zones) {
      try {
        properties.zonesData = await Promise.all(
          pageConfig.zones.map(zone =>
            loadZonePageData.bind(this)(zone, session.config.pages)
          )
        )
      } catch (e) {
        if (e instanceof ConfigError || e instanceof FetchError) {
          console.error(e)
          return this.error(500, e.message)
        }
        throw e
      }
    }
    return properties
  }
</script>

<script>
  import { zip } from "ramda"
  import { Button } from "smelte"
  import Page from "../components/Page.svelte"
  import Zone from "../components/Zone.svelte"

  export let pageConfig
  export let zonesData

  $: appBarTitle = pageConfig.appBarTitle
  $: backgroundImageUrl = pageConfig.backgroundImageUrl
  $: callToActionButtonTitle = pageConfig.callToActionButtonTitle
  $: callToActionButtonURL = pageConfig.callToActionButtonURL
  $: logoUrl = pageConfig.logoUrl
  $: slug = pageConfig.slug
  $: subTitle = pageConfig.subTitle
  $: title = pageConfig.title
  $: zones = pageConfig.zones
</script>

<style>
  .banner {
    align-items: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
</style>

<div
  class="banner"
  style={backgroundImageUrl && `background-image: url(${backgroundImageUrl});`}>
  <div class="text-center mx-4">
    {#if logoUrl}
      <img class="mx-auto my-8" alt="logo" src={logoUrl} />
    {/if}
    {#if title}
      <h1 class="h2">{title}</h1>
    {/if}
    {#if subTitle}
      <div class="h4">{subTitle}</div>
    {/if}
    {#if callToActionButtonTitle && callToActionButtonURL}
      <div class="my-8">
        <Button href={callToActionButtonURL} target="_blank">
          {callToActionButtonTitle}
        </Button>
      </div>
    {/if}
  </div>
</div>

<Page>
  {#each zip(zones, zonesData) as [{ pageSlug, buttonTitle }, { pageType, pageConfig, pageData }], index (pageSlug)}
    {#if index > 0}
      <hr class="mb-5 mt-5" />
    {/if}
    <div class="zone my-16">
      <h2 class="my-8 text-center">{pageConfig.title || pageData.title}</h2>
      <Zone {pageData} {pageType} />
      {#if buttonTitle}
        <div class="flex justify-center my-8">
          <Button href={pageSlug}>{buttonTitle}</Button>
        </div>
      {/if}
    </div>
  {/each}
</Page>
